:root {
  --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.food-item {
  list-style-type: none;
  margin: 20px;
  width: 460px;
}
.food-card-container {
  display: flex;

  align-items: center;
}
.food-details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 15px;
}
.food-name {
  color: #334155;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  margin-top: 0px;
}
.food-cost {
  color: #64748b;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  margin-top: 0px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}
.star-rating {
  display: flex;
  align-items: center;
}
.rating {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #1e293b;
  margin-left: 3px;
}
.total-reviews {
  color: #64748b;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0px;
}
.food-image {
  width: 250px;
  height: 150px;

  border-radius: 8px;
}
.add-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffa412;
  border: 1px solid #ffa412;
  border-radius: 8px;
  height: 30px;
  width: 40px;
  background: transparent;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 10px 5px 10px 5px;
}
