.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans';
  padding: 20px;
}

.not-found-image {
  margin-top: 90px;
  width: 140px;
  height: 155px;
}

@media screen and (min-width: 992px) {
  .not-found-image {
    margin-top: 40px;
    width: 270px;
    height: 297px;
  }
}

.not-found-heading {
  color: #1e293b;
}
.not-found-description {
  color: #475569;
  max-width: 450px;
  text-align: center;
}

.home-page-button {
  padding: 12px 24px;
  gap: 8px;
  width: 123px;
  height: 48px;
  cursor: pointer;
  color: white;
  border: none;
  background: #f7931e;
  border-radius: 12px;
  margin-top: 10px;
}
