.cart-list-container {
  width: 300px;
  background-color: #f9fbfe;
  border: 2px solid rgba(11, 105, 255, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 10px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .cart-list-container {
    width: 1100px;
    margin-top: 40px;
    margin: 40px;
  }
}
.line {
  left: 14.79%;
  right: 11.53%;
  top: 42.25%;
  bottom: 57.75%;
  border: 1px dashed #cbd2d9;
  width: 100%;
}
.order-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rupees {
  font-family: 'Bree-Serif';
  font-weight: bold;
  font-size: 17px;
  font-style: italic;
}
.order-total-heading {
  font-family: 'Bree-Serif';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #3e4c59;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .order-total-heading {
    margin-left: 30px;
    font-size: 24px;
  }
}
.total-cart-price {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3e4c59;
}
@media screen and (min-width: 768px) {
  .total-cart-price {
    margin-right: 150px;
    font-size: 24px;
  }
}
.place-order-button {
  padding: 12px 24px;
  gap: 8px;
  width: 123px;
  height: 40px;
  cursor: pointer;
  color: white;
  border: none;
  background: #f7931e;
  border-radius: 12px;
  align-self: flex-end;
}
.place-order-button-container {
  margin-top: 0;
  text-align: right;

  padding-left: 150px;
}
@media screen and (min-width: 768px) {
  .place-order-button-container {
    padding-left: 0;
    padding-right: 130px;
    margin-top: 5px;
  }
}
.cart-footer {
  padding: 0;
}
