.offers-slider-container {
  padding: 15px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .offers-slider-container {
    padding: 50px;
    width: 100%;
  }
}
.offer-image {
  width: 30%;
}
